<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229343237349-nrj41o35eccfgpd75vqg4hgj0eoait7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229343237349-nrj41o35eccfgpd75vqg4hgj0eoait7v</string>
	<key>API_KEY</key>
	<string>AIzaSyAfeyrd11sa8LPMQRi_9_bCcXk82y1ZkRk</string>
	<key>GCM_SENDER_ID</key>
	<string>229343237349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>tfg-ciclistas</string>
	<key>STORAGE_BUCKET</key>
	<string>tfg-ciclistas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229343237349:ios:01256e85e2c46d0ef6f00c</string>
	<key>DATABASE_URL</key>
	<string>https://tfg-ciclistas-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>