/*

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  h2 {
    text-align: center;
    margin: 20px;
  }
  
  #signup-select, #singin-select {
    cursor: pointer;
  }
  
  #signup-div, #signin-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 20px;
    width: 400px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #006080;
  }
  
  #signin-div {
    display: none;
  }*/