/* Styles for the 'reduccion-velocidad' container */
.widget-group.reduccion-velocidad {
  display: flex;
  justify-content: space-between; /* Or 'space-around', 'center', 'flex-start', 'flex-end' depending on your needs */
  align-items: center; /* Or 'flex-start', 'flex-end', 'baseline', 'stretch' depending on your needs */
  flex-wrap: wrap; /* Allow the items to wrap onto new lines if necessary */
  gap: 20px; /* Adjust as needed */
}

/* Styles for individual widgets */
.widget-group.reduccion-velocidad .widget {
  flex: 1; /* Allow each widget to flex and fill the available space. Adjust as needed */
  /* Add any other styling for your widgets here */
}

#chart {
  margin: 20px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2
}

.widget-group.avisos {
  display: flex;
  justify-content: space-between; /* Or 'space-around', 'center', 'flex-start', 'flex-end' depending on your needs */
  align-items: flex-start; /* Or 'flex-end', 'center', 'baseline', 'stretch' depending on your needs */
  flex-wrap: wrap; /* Allow the items to wrap onto new lines if necessary */
  gap: 20px; /* Adjust as needed */
}

/* Styles for individual widgets */
.widget-group.avisos .widget {
  flex: 1; /* Allow each widget to flex and fill the available space. Adjust as needed */
  /* Add any other styling for your widgets here */
}

#chart-emitidos,
#chart-recibidos {
  flex: 1; /* Allow each chart to flex and fill the available space */
  margin: 20px;
}


/* Reset some default styles */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Dashboard Section */
.dashboard {
  padding: 50px;
  background-color: #f7f7f7;
  text-align: center;
}

.dashboard h1 {
  margin-bottom: 20px;
}

.widget {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.widget h2 {
  margin-bottom: 10px;
}

.widget p {
  margin-bottom: 20px;
}

.widget-group {
  display: flex;
  justify-content: space-between;
}

.widget-group .widget {
  flex: 1;
  margin-right: 30px;
}

.widget-group .widget:last-child {
  margin-right: 0;
}

.gauge {
  height: 200px;
}

.widget-group .widget p {
  margin-bottom: 10px;
}

.widget-group .widget #chart-emitidos,
.widget-group .widget #chart-recibidos {
  height: 300px;
}



.widget.rutas {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  flex: 1;
  margin-right: 10px;
}

#datepicker {
  width: 50%; /* Adjust as needed */
}

p {
  width: 50%; /* Adjust as needed */
}

#mapRuta {
  width: 100%;
  height: 500px;
}

.map-container {
  max-width: 80%; /* Adjust the value as per your requirement */
  margin: 0 auto; /* Center the map within its container */
}