/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;
}

header .logo-container {
    flex: 1;
}

header .main-nav,
header .user-nav {
    flex: 2;
}

header img {
    height: 50px;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header .user-nav ul {
    justify-content: flex-end; /* Aligns Login and Sign Up to the right */
}

.user-nav ul li {
    margin-left: 20px; /* Adjust this value to increase or decrease the space */
}

/* Hero Section */
section:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f2f2f2;
}

section:nth-child(2) h1,
section:nth-child(2) p {
    margin-bottom: 20px;
}

/* Features Section */
#features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #fff;
}

#features div {
    width: 30%;
    padding: 20px;
}

#features img {
    width: 100%;
}

/* Statistics Section */
#statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #f2f2f2;
}

/* Download Section */
#download {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #fff;
}

/* Footer Section */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1a1a;
}

footer nav ul {
    display: flex;
    list-style-type: none;
}

footer nav ul li {
    margin-left: 20px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

footer p {
    color: white;
}


/* Hero Section */
#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #f2f2f2;
}

.hero-text {
    flex: 1;
}

.hero-text h1,
.hero-text p {
    margin-bottom: 20px;
}

.hero-cta {
    flex: 1;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    object-fit: contain;
}
