.row {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}
  
.rectangle {
    width: calc(100% / 2 - 20px);
    height: 200px;
    background-color: #ccc;
    margin: 10px;
}